<div class="row">
  <div class="col-2 sidebar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="col-10 user-account">
    <div class="user-account-box w-880">
  
    <h4 class="mb-3 mr-5 ml-5 row">アカウント</h4>
    <div class="mb-5 mr-5 ml-5 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-5">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
      </div>
    </div>
    <div class="mb-5 mr-5 ml-5 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-5">
        <input type="password" class="form-control" id="inputPassword">
      </div>
    </div>
    <div class="mb-3 mr-10 ml-5 row">
      <button type="button" class="btn btn-primary"><%=link_to"編集","/users/edit",class:"text-white p-2 m-1 btn-outline-primary text-white bg-primary rounded-pill col-12"%></button>
    </div>
  </div>
 </div>
</div>
</div>
					