<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <img class="my-0 mr-md-auto font-weight-normal" id="home-logo" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
      <a class="p-2 m-1 btn btn-outline-primary text-white bg-primary" href="#">ログイン</a>
      <a class="p-2 m-1 btn btn-outline-info text-white bg-info" href="#">新規登録</a>
</div>
    