<div class="sidebar_content">
  <ul>
    <li class="sidebar_tab"><%=link_to"アカウント","/users/account",class: "sidebar_link"%></li> 
    <li class="sidebar_tab"><%=link_to"プロフィール","/users/profile",class: "sidebar_link"%></li>
  </ul>
</div>