<h3>登録済みルーム一覧</h3>
<table>
<thead>
  <tr>
    <th>ルーム画像</th>
    <th>ルーム名</th>
    <th>ルーム紹介</th>
    <th>料金</th>
    <th>作成日</th>
  </tr>
</thead>
<tbody>
  <% @room.each do |room| %>
    <tr>
      <th>
        <%= image_tag "room.picture",:size => "200x200"%>
      </th>
      <th><%= room.name %></th>
      <th><%= room.information %></th>
      <th><%= room.price %></th>
     
    </tr> 

  <% end %>
</tbody>