/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 body{
    margin:0px;
 }
 main{
    z-index: 100;
 }
 
 li{
    list-style:none;
 }

.link_user{
    color:#000;
}

.home-link-user{
    color:#fff;
}
.sidebar{
    border-right: solid 1px #000;

}


.sidebar_link{
    color:#000;
   
}
.sidebar_tab{
    padding:10px 0;
    text-align:right;
}
.sidebar_link:hover{
    text-decoration:none; 
    color:blue;
}
.sidebar_tab:hover{
    border-right:medium solid blue;
}

.user-view{
    background-color:gray;
}
.conteiner-view{
    height:100%;
}
.user_headnav{
    position:absolute;
    left:1245px;
    z-index: 1000;
}


.nav_link:hover{
    text-decoration: none;  
}
.dvise_frame{
    width:600px;
    margin:0 auto;
    padding:24px;
    background-color:white;
    border-radius:4px;
    box-shadow:1px 1px 1px 1px #DDDDDD	;
}

.devise_inner{
    width:400px;
    margin:0 auto;
}
.user-account{
    margin:0 auto;
}
.user-account-box{
    margin:30px auto;
    width:880px;
    padding:24px;
    background-color:white;
    border-radius:4px;
    box-shadow:1px 1px 1px 1px #DDDDDD	;
}

 @import "bootstrap"


 
