/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 body{
    margin:0px;
 }
 main{
    z-index: 100;
 }
 .clearfix::after{
    content: "";
 }
 thead{
    text-align: center;
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
 }
 thead th{
    padding:8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
 }

 tbody td{
    padding: 10px;
 }
 tbody tr:nth-child(even){
    background-color: #f9fafb;
 }

 li{
    list-style:none;
 }

.link_user{
    color:#000;
}
.header-search-container{
    display: flex;
}
.header-search-box{
    margin: 1px;
}
.header-search-input{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 3px;
    background-color: #444444;
    border:1px solid #444444;
}
.header-left-container{
    display:flex;
}
.header-right-container{
    margin:0 0 0 auto;
    display:flex;
    display: table;
}
.header-user-name{
    display: table-cell;
    vertical-align: middle;
}

.home-link-user{
    color:#fff;
}

.sidebar{
    border-right: solid 1px #000;

}
.nav_link :hover{
    text-decoration:none;
}


.sidebar_link{
    color:#000;
   
}
.sidebar_tab{
    padding:10px 0;
    text-align:right;
}
.sidebar_link:hover{
    text-decoration:none; 
    color:blue;
}
.sidebar_tab:hover{
    border-right:medium solid blue;
}

.user-view{
    background-color:gray;
}
.conteiner-view{
    height:100%;
}
.user_headnav{
    position:absolute;
    left:1245px;
    z-index: 1000;
}

.dvise_frame{
    width:600px;
    margin:0 auto;
    padding:24px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #DDDDDD	;
}

.devise_inner{
    width: 400px;
    margin: 0 auto;
}
.user-account{
    margin: 0 auto;
}
.user-account-box{
    margin:30px auto;
    width: 880px;
    padding: 24px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #DDDDDD	;
}

.edit_password{
    margin:0 auto;
}

.form-control{
    height: 1.5em;
}
.intoroduction-form{
    border: 1px solid #ced4da;
}
.sign_in_link:hover{
    text-decoration: none;
}
.room-show-detile{
    display: flex;
    border-bottom: 1px solid #DDDDDD;
}
.room-show-profile-name{
    font-size: large;
    font-weight: bold;
}

.field_with_errors{
    height: 100%;
    background-color: red;

}

.room-view{
    border-left: 1px solid #DDDDDD;
}

.roombar_tab{
    border-right:1px solid #6699FF;
}
.roombar_link:hover{
    text-decoration: none;
}

.room-posts{
    max-width: 100vw;
    padding: 30px 60px;
}
.posts-name{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.search-number{
    font-weight: 700;
    margin-bottom: 10px;
}
.room{
    width:100%;
    padding:30px 60px;
    margin: 0px;
}
.room-search-frame{
    border:1px solid #e2e2e2;
    width:100%;
    margin-bottom: 10px;
}

.room-link{
    text-decoration: none !important;
    color:#000000;
}
.room-link:hover{
    color: #000000;
}
.room-search-profile{
    padding: 15px;
}
.search-profile-name{
    font-size: 18px;
    font-weight: bold;
    color: #909090;
    margin-bottom: 16px;
}
.search-profile-address{
    font-weight: bold;
    margin-bottom: 16px;
}
.search-profile-price{
    text-align: right;
    margin-bottom: 16px;
}
.search-profile-image{
    background-color: #F6F8F9;
    height:200px;
}

.top-main{
    background-image: image-url("img_cover_top.jpeg");  
    background-size: cover;
    height: 650px;
      
}

.form-frame{
    display: flex;
    align-items: center;
    text-align: center;  
    height: 100%;
    
}
.form-area{
    background-color: #fff;
    padding: 24px;
}
.form-area p{
    font-size: 28px;
    letter-spacing: 1px;
}
.form-controll{
    margin-bottom: 1.5rem;
}
.form-controll-submit{
    border-color: primary;
}
.panel-item{
    position: relative;
}
.panel-title{
    margin: 35px 0;
}
.panel-item span{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.panel-image{
    height: 360px;
    width: 100%;
   

}

 @import "bootstrap"


 
