/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 body{
    margin:0px;
 }
 li{
    list-style:none;
 }

.link_user{
    color:#000;
}
.home-link-user{
    color:#fff;
}
.sidebar{
    border-right: solid 1px #000;

}


.sidebar_link{
    color:#000;
   
}
.sidebar_tab{
    padding:10px 0;
    text-align:right;
}
.sidebar_link:hover{
    text-decoration:none; 
    color:blue;
}
.sidebar_tab:hover{
    border-right:medium solid blue;
}

.user-view{
    background-color:gray;
}
.conteiner-view{
    height:100%;
}

.nav-content{
    z-index: 1000;
}


 @import "bootstrap"
